name: Test C#

on:
  workflow_dispatch:
  push:
    paths:
      - csharp/**

jobs:
  test_csharp:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './csharp'

    env:
      API_KEY_KMS: ${{ secrets.API_KEY_KMS }}
      API_KEY_MSEA: ${{ secrets.API_KEY_MSEA }}
      API_KEY_TMS: ${{ secrets.API_KEY_TMS }}
      PROJECT_NAME: MapleStory.Test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.100

      - name: Test
        run: |
          echo "Testing"
          dotnet test ./${PROJECT_NAME}/${PROJECT_NAME}.csproj