name: Test Java

on:
  workflow_dispatch:
  push:
    paths:
      - java/**

jobs:
  test_java:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './java'

    env:
      API_KEY_KMS: ${{ secrets.API_KEY_KMS }}
      API_KEY_MSEA: ${{ secrets.API_KEY_MSEA }}
      API_KEY_TMS: ${{ secrets.API_KEY_TMS }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8.0.392+8'

      - name: Test
        run: |
          echo "API_KEY_KMS=${API_KEY_KMS}" >> gradle.properties
          echo "API_KEY_MSEA=${API_KEY_MSEA}" >> gradle.properties
          echo "API_KEY_TMS=${API_KEY_TMS}" >> gradle.properties
          echo "Testing"
          chmod +x ./gradlew
          ./gradlew unitTest
        env:
          GRADLE_USER_HOME: ./gradle
